@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{

  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} 

nav {
  background-color: #FFFF;
}

nav a img {
  margin-top: -30px;
}

nav ul {
  margin-right: 50px;
  text-align: center;
  justify-content: center;
}

nav ul li {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  line-height: 22px;
  text-align: center;
  justify-content: center;
  padding: 30px;
}

#torn1 {
  width: 100%;
  position: absolute;
  top: 0px;
}

#torn2 {
  width: 100%;
  position: absolute;
  top: 0px;
}

#torn3 {
  width: 100%;
  position: absolute;
  bottom: 0px;
}

#margi {
  margin-bottom: 10%;
}

.text-center {
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 34px;
line-height: 22px;
text-align: center;
color: #2F4858;
}

nav ul li:hover {
  border-bottom: 3px solid #FFA800;
}

.col-container {
  display: table;
  width: 100%;
  color: white;
  text-align: center;
  position: relative;
}

.col {
  display: inline-block;
  padding-top: 100px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
}

#buttontop {
font-family: 'Oswald';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 36px;
text-align: center;
color: #2F4858;
}

.container1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container1 .logo {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}



.container1 .logo>img {
  width: 100px;
}

.container1 .background {
  width: 100%;
}

#textmarg {
  text-align: center;
  justify-content: center;
  margin-top: 10%;
  margin-bottom: 10%;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #2F4858;
  width: 35%;
}

#table {
  width: 100%;
  height: auto;
}

#upper {
  text-transform: uppercase;
  margin-bottom: 7%;
}

#quest {
  margin-top: 10%;
  margin-bottom: 10%;
}

#form {
  margin-top: 10%;
  margin-bottom: 10%;
}

#buttonclr {
  border-radius: 30px;
  padding: 10px 80px;
  background: #FFA800;
  color:#FFFF;
  margin-bottom: 10%
}

#textform {
  font-family: 'Oswald';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 44px;
text-align: center;
color: #2F4858;
text-transform: uppercase;
margin-bottom: 30px;
}

#oblform {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
color: #2F4858;
margin-top: 10px;
margin-right: 40%;
}

#name {
  width: 25%;
  height: 43px;
  background: rgba(196, 196, 196, 0.4);
  border-radius: 6px;
  border: none;
  margin-bottom: 10px;
}

#email {
  width: 25%;
  height: 43px;
  background: rgba(196, 196, 196, 0.4);
  border: none;
  border-radius: 6px;
  margin-bottom: 10px;
}

#number {
  width: 51%;
  height: 43px;
  background: rgba(196, 196, 196, 0.4);
  border: none;
  border-radius: 6px;
  margin-bottom: 10px;
}


#comment {
  background: rgba(196, 196, 196, 0.4);
  border-radius: 6px;
  width: 51%;
  height: 232px;
  border: none;
}

input[type="text"]::placeholder {
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
display:flex;
align-items: center;
color: #2F4858;
padding-left: 10px;
padding-top: 0px;
}

#buttonclr2 {
  border-radius: 35px;
  background: #FFA800;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  padding: 12px 28px;
}

#checktext { 
  font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
color: #2F4858;
width: 45%;
padding-top: 1%;
padding-bottom: 3%;
}

#imglist1{
  float: right;
  width: 100%;
}

#imglist2 {
  float: left;
  width: 100%;
}

#imglist3 {
  float: right;
  width: 100%;
}

#imglist4 {
  float: right;
  width: 100%;
}

#imglist5 {
  float: left;
  width: 100%
}

#relative {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #2F4858;
  padding-top: 10%;
  text-transform: uppercase;
}

#yellowwall {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}

#logo1 {
  width: 241.95px;
  height: 80px;
}

#logo2 {
  width: 209.32px;
  height: 80px;
}

#logo3 {
  width: 238.96px;
  height: 80px;
}

#logo4 {
  width: 84.77px;
  height: 120px;
}

#logot {
  width: 230px;
  height: 150px;
  margin-left: 30px;
}

#footermark2{
  position: relative;
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 17px;
color: #FFFFFF;
display:none;
}

#rekvmobile {
  font-family: 'Montserrat';
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 17px;
color: #FFFFFF;
display: none;
}

#bluewall {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}

@media (max-width: 1370px) {
  nav ul li {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    justify-content: center;
    padding: 17px;
  }

  #textmarg {
    width: 50%;
  }

  #logot {
    width: 100%;
    height: 100%;
  }

  #buttonclr {
    border-radius: 30px;
    padding: 13px 65px;
    background: #FFA800;
    color:#FFFF;
    margin-bottom: 0%;
  }

  #textform {
    font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 44px;
  text-align: center;
  color: #2F4858;
  text-transform: uppercase;
  margin-bottom: 5%;
  }

  #buttonclr2 {
      padding: 17px 70px;
      margin-top: 4%;
  }

  #quest {
    margin-top: 9%;
    margin-left: 10%;
  }

  #mark {
    text-align: left;
    margin-right: 150px;
  }
}

@media (max-width: 1205px) {
  #logo1 {
    width: 120.95px;
    height: 40px;
  }
  #logo2 {
    width: 104px;
    height: 40px;
  }
  #logo3 {
    width: 120px;
    height: 40px;
  }
  #logo4 {
    width: 42px;
    height: 60px;
  }
  
  .col-container {
    display: table;
    width: 100%;
    color: white;
    text-align: left;
    position: relative;
  }
}

@media (max-width: 900px) {
  #name {
    width: 90%;
    height: 43px;
    background: rgba(196, 196, 196, 0.4);
    border-radius: 6px;
    border: none;
    margin-bottom: 10px;
  }

  #email {
    width: 90%;
    height: 43px;
    background: rgba(196, 196, 196, 0.4);
    border-radius: 6px;
    border: none;
    margin-bottom: 10px;
  }

  #number {
    width: 90%;
    height: 43px;
    background: rgba(196, 196, 196, 0.4);
    border-radius: 6px;
    border: none;
    margin-bottom: 10px;
  }

  #comment {
    width: 90%;
    background: rgba(196, 196, 196, 0.4);
    border-radius: 6px;
    height: 232px;
    border: none;
  }
  
  #textmarg {
    width: 100%;
  }

  #checktext { 
    width: 75%;
    margin-bottom: 10%;
  }

  #tab {
    display: none;
  }
  #biedr {
    display: none;
  }
  
  #inf.col{
    text-align: right;
  }
}

@media (max-width: 600px) {
  #logo1 {
    width: 60px;
    height: 20px;
  }
  #logo2 {
    width: 50px;
    height: 20px;
  }
  #logo3 {
    width: 60px;
    height: 20px;
  }
  #logo4 {
    width: 20px;
    height: 30px;
  }

  .col {
    display: inline-block;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  #footermark {
    display: none;
  }
  #tab {
    display: none;
  }
  #biedr {
    display: none;
  }
  
  #inf.col{
    text-align: left;
    margin-top: -70px;
    padding-left: 20px;
    padding-bottom: 0px;
  }

  #inf p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: left;
    color: #FFFFFF;
  }

  .col-container {
    display: table;
    width: 100%;
    color: white;
    text-align: left;
    position: relative;
  }

  #name {
    width: 90%;
    height: 43px;
    background: rgba(196, 196, 196, 0.4);
    border-radius: 6px;
    border: none;
    margin-bottom: 10px;
  }

  #email {
    width: 90%;
    height: 43px;
    background: rgba(196, 196, 196, 0.4);
    border-radius: 6px;
    border: none;
    margin-bottom: 10px;
  }

  #number {
    width: 90%;
    height: 43px;
    background: rgba(196, 196, 196, 0.4);
    border-radius: 6px;
    border: none;
    margin-bottom: 10px;
  }

  #comment {
    width: 90%;
    background: rgba(196, 196, 196, 0.4);
    border-radius: 6px;
    height: 232px;
    border: none;
  }
  
  #textmarg {
    width: 100%;
  }

  #checktext { 
    width: 75%;
    margin-bottom: 10%;
  }

  #buttonclr {
    border-radius: 30px;
    padding: 10px 80px;
    background: #FFA800;
    color:#FFFF;
    margin-bottom: 20%;
  }

  #quest {
    margin-top: 30%;
  }

  #buttonclr2 {
    margin-bottom: 30%;
  }

  #inf1 { 
    text-align: left;
    margin-bottom: 50px;
  }

  #footermark2{
    display: flex;
    font-size: 10px;
    }

    #logot {
      width: 100%;
      height: 100%;
    }
    #rekvmobile {
      font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    display: flex;
    }

    #inf a img{
      margin-top: 20px;
      margin-bottom: 20px;
    }
}

@media (max-width: 365px) {
  #logo1 {
    width: 50px;
    height: 15px;
  }
  #logo2 {
    width: 40px;
    height: 15px;
  }
  #logo3 {
    width: 50px;
    height: 15px;
  }
  #logo4 {
    width: 15px;
    height: 25px;
  }
  #inf{
    top: 0px;
    text-align: left;
  }

}

@media (max-width: 328px) {
  #logo1 {
    width: 40px;
    height: 10px;
  }
  #logo2 {
    width: 30px;
    height: 10px;
  }
  #logo3 {
    width: 40px;
    height: 10px;
  }
  #logo4 {
    width: 10px;
    height: 20px;
  }
}

#play {
 position: absolute;
 top: 550px;
 left: 800px;
}

#marg {
  margin-top: 100px;
  margin-bottom: 150px;
}

#bluewall {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}

#mark {
  text-align: left;
}

#footermark {
  position: relative;
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
color: #FFFFFF;
top: 50px;
}

#tab {
  text-align: left;
}


#navg {
  position: relative;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  list-style-type: none;
  text-decoration: none;

}

#biedr {
  text-align: left;
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
color: #FFFFFF;
}

#biedr p {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
color: #FFFFFF;
}

#biedr1 {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 29px;
color: #FFFFFF;
}

#inf {
  text-align: right;
 
}

#inf p {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}

#inf1 {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 29px;
color: #FFFFFF;
}

ul li{
  padding-top: 80px;
}

ul li a{
  text-decoration: none;
}

#rekv {
  position: relative;
  color: #FFFFFF;
}

#rekv1 {
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 29px;
color: #FFFFFF;
margin-top: 250px;
margin-left: 100px;
}

#rekv2 {
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
color: #FFFFFF;
margin-left: 100px;
}

#info {
  position: relative;
  color: #FFFFFF;
  margin-right: 70px;
}

#info1 {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 29px;
text-align: right;
color: #FFFFFF;
margin-top: 250px;
}

#info2 {
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
text-align: right;
color: #FFFFFF;
}

#minilogo {  
  margin-top: 400px;
  margin-left: 300px;
  
}

#face {
  width: 18px;
  height: 36px;
  margin-top: 270px;
}

#inst {
  width: 36px;
  height: 36px;
  margin-top: 270px;
}